{% extends "index.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div id="root"></div>

    <!-- JS import -->
    <script type="text/babel" src="{{ url_for('static', filename='script/Header.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='script/Login.js') }}"></script>



    <script type="text/babel">
        const root = ReactDOM.createRoot(document.getElementById("root"));
        root.render(<Login />);
    </script>
{% endblock %}
